.visualiser {
  grid-area: Code;
  flex: 1;
  border-radius: 0.5rem;
  background: black;
}

.react-window{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: aqua;
}