.header {
  grid-area: Header;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 0;
  h2 {
    margin: 0;

    svg {
      height: 2rem;
      width: 2rem;
      margin: 0 1rem;
      fill: #eaeaea;
    }
  }
  span {
    font-family: monospace;
    font-size: 1.2rem;
  }
}
