.container {
    &__standard {
        max-width: 76rem;
        margin: 0 auto;
        padding: 0 4rem;

        @include breakpoint-desktop-down {
            padding: 0 2rem;
        }
    }
    &__narrow {
        max-width: 56rem;
        margin: 0 auto;
        padding: 0 4rem;
        @include breakpoint-desktop-down {
            padding: 0 2rem;
            max-width: unset;
        }

        &--no-padding{
            max-width: 56rem;
            margin: 0;
            padding: 0;
        }
    }
}