/* stylelint-disable unit-blacklist */
$screen-xs-min: 448px; //28rem;
$screen-sm-min: 560px; //35rem;
$screen-tablet-portrait: 768px;
$screen-md-min: 800px; //50rem;
$screen-ml-min: 960px; //60rem;
$screen-mlg-min: 1024px; //57rem;
$screen-mmlg-min: 1068px; //59rem;
$screen-lg-min: 1260px; //70rem;
$screen-xl-min: 1530px; ///85rem;
$screen-xxl-min: 2000px; //100rem;
/* stylelint-enable unit-blacklist */

@function gap-size($multiplier: 1) {
  @return ($gap-base * $multiplier);
}

@mixin breakpoint-custom-up($min) {
  @media all and (min-width: $min) {
    @content;
  }
}

@mixin breakpoint-xs-only {
  @media all and (max-width: $screen-xs-min) {
    @content;
  }
}

@mixin breakpoint-xs-up {
  @include breakpoint-custom-up($screen-xs-min) {
    @content;
  }
}

@mixin breakpoint-sm-up {
  @include breakpoint-custom-up($screen-sm-min) {
    @content;
  }
}

@mixin breakpoint-tablet-up {
  @media all and (min-width: $screen-tablet) {
    @content;
  }
}

@mixin breakpoint-mobile-narrow-down {
  @media all and (max-width: $screen-mobile-narrow) {
    @content;
  }
}

@mixin breakpoint-mobile-down {
  @media all and (max-width: $screen-mobile) {
    @content;
  }
}

@mixin breakpoint-tablet-down {
  @media all and (max-width: $screen-desktop) {
    @content;
  }
}

@mixin breakpoint-desktop-down {
  @media all and (max-width: $screen-widescreen) {
    @content;
  }
}

@mixin breakpoint-widescreen-down {
  @media all and (max-width: $screen-fullhd) {
    @content;
  }
}

@mixin breakpoint-fullhd-down {
  @media all and (max-width: $screen-fullhd) {
    @content;
  }
}

@mixin breakpoint-ml-up {
  @include breakpoint-custom-up($screen-ml-min) {
    @content;
  }
}

//
// Pseudo class group mixins
//

// Shortcut for hover and focus states
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

// Shortcut for hover, focus and active states
@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// Shortcut for focus and active states
@mixin focus-active {
  &:focus,
  &:active {
    @content;
  }
}

@mixin outline-width-visible {
  outline-width: thin;
  outline-style: solid;
}

@mixin outline-width-hidden {
  outline-width: 0;
}

// Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Cut off text with ellipsis when it gets too lon...
@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// include common properties of a pseudo element
@mixin pseudo-element {
  content: '';
  display: block;
}

// absolute transform center an element
@mixin absolute-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin reset-button() {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

// Common heading styles applied to h1-h6
@mixin heading-common() {
  align-items: baseline;
  color: $color-text;
  display: flex;
  flex-wrap: wrap;
  font-family: $font-family;
  font-size: $font-size-standard;
  font-weight: $font-weight-extra-bold;
  line-height: $line-height-mid;
  margin: gap-size(1/2) 0 gap-size(1/4);
  text-rendering: optimizeLegibility;

  & > a {
    display: inline-block;
    margin-left: 0.25em;
  }
}

// H1 specific styles
@mixin heading-h1() {
  @include heading-common;

  font-size: $font-size-h1;
  letter-spacing: -0.166rem;
  margin: gap-size(0) 0 gap-size(0);
  line-height: $line-height-medium;
  font-weight: $font-weight-black;
  color: $color-black;
}

// H2 specific styles
@mixin heading-h2() {
  @include heading-common;

  font-size: $font-size-h2;
  line-height: 1.25;
  letter-spacing: -0.077rem;
  margin: gap-size(2) 0 gap-size(1/2);
  font-weight: $font-weight-black;
  color: $color-black;

  &:first-child {
    margin-top: gap-size(2);
  }
}

// H3 specific styles
@mixin heading-h3() {
  @include heading-common;

  font-size: 1.25rem;
  line-height: 1.133;
  letter-spacing: -0.044rem;
  margin: gap-size(0) 0 gap-size(1/2);
  font-weight: $font-weight-black;
  color: $color-black;
}

// H4 specific styles
@mixin heading-h4() {
  @include heading-common;

  font-size: 1rem;
  line-height: 1.388;
  margin: gap-size(0) 0 gap-size(1/2);
  letter-spacing: -0.038rem;
  font-weight: 700;
  color: $color-black;
}

// H5 specific styles
@mixin heading-h5() {
  @include heading-common;

  font-size: 0.833rem;
  line-height: 1.666;
  letter-spacing: -0.011rem;
  font-weight: 700;
  color: $color-black;
}

// H6 specific styles
@mixin heading-h6() {
  @include heading-common;

  font-size: 0.633rem;
  line-height: 1.388;
  font-weight: 700;
  letter-spacing: -0.006rem;
  color: $color-black;
}

@mixin hideScrollbar {
  // https://blogs.msdn.microsoft.com/kurlak/2013/11/03/hiding-vertical-scrollbars-with-pure-css-in-chrome-ie-6-firefox-opera-and-safari/
  // There is a CSS rule that can hide scrollbars in Webkit-based browsers (Chrome and Safari).
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  // There is a CSS rule that can hide scrollbars in IE 10+.
  // Use -ms-autohiding-scrollbar if you wish to display on hover.
  // -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;

  // There used to be a CSS rule that could hide scrollbars in Firefox, but it has since been deprecated.
  /* stylelint-disable-next-line property-no-unknown */
  scrollbar-width: none;
}

// --------  Text/Paragraphs  --------
@mixin text-standard {
  font-family: $font-family;
  font-weight: $font-weight-book;
  font-size: 1rem;
  letter-spacing: -0.0167rem;
  line-height: 1.666;
}

@mixin text-small {
  font-family: $font-family;
  font-weight: $font-weight-book;
  font-size: 0.833rem;
  letter-spacing: -0.011rem;
  line-height: 1.66;
}

@mixin text-tiny {
  font-family: $font-family;
  font-weight: $font-weight-book;
  font-size: 0.722rem;
  letter-spacing: -0.011rem;
  line-height: 1.538;
}

// --------  Headings  --------
// Adopted from https://github.com/education-nz/ncea-client/blob/uat/src/moe-styles/theme/_theme-mixins.scss

@mixin heading-x-large {
  font-family: $font-family;
  font-weight: 800;
  font-size: 3.552rem;
  letter-spacing: -0.166rem;
  word-spacing: -0.166rem;
  line-height: 1.09;
}

@mixin heading-large {
  font-family: $font-family;
  font-weight: 800;
  font-size: 2.441rem;
  letter-spacing: -0.125rem;
  word-spacing: -0.125rem;
  line-height: 1.136;
}

@mixin heading-large-medium {
  font-family: $font-family;
  font-weight: 800;
  font-size: 1.953rem;
  letter-spacing: -0.1rem;
  word-spacing: -0.1rem;
  line-height: 1.143;
}

@mixin heading-medium {
  font-family: $font-family;
  font-weight: 800;
  font-size: 1.563rem;
  letter-spacing: -0.077rem;
  word-spacing: -0.077rem;
  line-height: 1.25;
}

@mixin heading-small-medium {
  font-family: $font-family;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: -0.044rem;
  word-spacing: -0.044rem;
  line-height: 1.333;
}

@mixin heading-small {
  font-family: $font-family;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.038rem;
  word-spacing: -0.038rem;
  line-height: 1.388;
}

@mixin heading-x-small {
  font-family: $font-family;
  font-weight: 700;
  font-size: 0.833rem;
  letter-spacing: -0.011rem;
  word-spacing: -0.011rem;
  line-height: 1.11;
}
