/* stylelint-disable unit-blacklist */
$screen-sm-min: 560px; //35rem;
$screen-ml-min: 960px; //60rem;

@mixin breakpoint-custom-up($min) {
  @media all and (min-width: $min) {
    @content;
  }
}

@mixin breakpoint-sm-up {
  @include breakpoint-custom-up($screen-sm-min) {
    @content;
  }
}

@mixin breakpoint-desktop-down {
  @media all and (max-width: $screen-widescreen) {
    @content;
  }
}

@mixin breakpoint-ml-up {
  @include breakpoint-custom-up($screen-ml-min) {
    @content;
  }
}

@mixin heading-small {
  font-family: $font-family;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.038rem;
  word-spacing: -0.038rem;
  line-height: 1.388;
}
