$color-blue: #1472e6;
$color-charcoal-mid: #1e1e1e;
$color-light-grey: #eaeaea;
$color-lightest-purple: #f5f6ff;
$light-background-color-yellow: rgba(255, 212, 68, 0.08);
$color-background: #222222;
$color-background-light: $color-lightest-purple;
$color-text: $color-light-grey;
$color-footer-background: $color-charcoal-mid;
$color-footer-copyright-background: #121212;
$font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
$font-family-secondary: 'Martel', serif;
// /* stylelint-disable-next-line unit-blacklist */
$font-size-base-mobile: 16px;
// /* stylelint-disable-next-line unit-blacklist */
$font-size-base: 18px;
$line-height-base: 1.666;
$screen-widescreen: 1216px;
